body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    background-color: $bg-light;
    color: $color-light;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    .modal-content, .card {
        border-color: $border-light;
        background-color: $bg-light;
    }

    .ngx-file-drop__drop-zone {
        background-color: $bg-light !important;
    }

    .address {
        border-radius: 10px;
    
        &:hover {
            background-color: $bg-light-secondary;
        }
    }

    .modal-header button.close {
        text-shadow: none !important;
        outline: none !important;
        color: $color-light !important;
    }

    form {

        .form-group {
            margin-bottom: 1.5rem !important;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.3rem !important;

            .required {
                color: $primary;
                padding-left: 3px;
            }
        }

        input, textarea {
            border-color: $border-light !important;
            box-shadow: none !important;

            &.error {
                border-color: $primary !important;
            }
        }

        .mat-slider-track-background {
            background-color: $border-light !important;
        }
    }

    .avatar div, .round-img, .banner-preview {
        border: 3px solid $bg-light-secondary;
    }

    .save-profile {
        position: absolute;
        right: 20px;
        top: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    .mat-tab-header {
        border-bottom: 1px solid #00000038;
    }

    .mat-tab-body-content {
        padding: 2rem 0;
    }

    .mat-tab-label {
        color: $color-light !important;
        opacity: .8 !important;
        
        &.mat-tab-label-active {
            opacity: 1 !important;
        }
    }

    .mat-form-field-wrapper {
        padding-bottom: .5em !important;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: #2c2c2c1a;
        padding-top: 0 !important;
    }

    .mat-form-field-underline {
        bottom: 0.5em !important;
    }

    .mat-form-field .mat-form-field-ripple {
        background-color: $bg-light-secondary !important;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: $primary !important;
    }
    
    .cover-image {
        background-color: $bg-light-secondary;
    }

    &.dark-theme {
        background-color: $bg-dark;
        color: $color-dark;

        .modal-content, .card {
            border: none;
            background-color: $bg-dark-secondary;
        }

        .ngx-file-drop__drop-zone {
            background-color: $input-dark !important;

            &:hover, &:focus {
                background-color:$input-dark-hover !important;
            }
        }

        .address:hover {
            background-color: $bg-dark;
        }

        .modal-header button.close {
            color: $color-dark !important;
        }

        form {
            input, textarea {
                color: $color-dark !important;
                background-color: $input-dark !important;

                &:not(.error) {
                    border: none !important;
                }

                &:hover, &:focus {
                    background-color:$input-dark-hover !important;
                }
            }

            .mat-slider-track-background {
                background-color: $input-dark !important;
            }
        }

        .avatar div, .round-img, .banner-preview {
            border: 3px solid $bg-light;
        }

        .mat-tab-header {
            border-bottom: 1px solid #ffffff1f;
        }

        .mat-tab-label {
            color: $color-dark !important;
            opacity: .6 !important;

            &.mat-tab-label-active {
                opacity: 1 !important;
            }
        }

        .mat-form-field-appearance-fill .mat-form-field-flex {
            background-color: #ffffff1a;
        }

        .mat-form-field.mat-focused .mat-form-field-ripple {
            background-color: $primary !important;
        }

        .mat-form-field .mat-form-field-ripple {
            background-color: $color-dark !important;
        }

        .sales-container hr {
            background-color: $bg-dark;
        }

        .cover-image {
            background-color: $bg-dark-secondary;
        }
    }
}

.content {
    margin-top: 58px;
}

.main {
    padding: 2rem;
}

.dimmed {
    color: $color-dimmed;
}

.modal-footer {
    border-top: none !important;
}

.placeholder-glow {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    background-color: currentColor;
    opacity: .5;
    -webkit-animation: placeholder-glow 2s ease-in-out infinite;
    animation: placeholder-glow 2s ease-in-out infinite;
}

.hover-pointer:hover {
    cursor: pointer;
}

.ngx-file-drop__drop-zone {
    border: $primary dashed 2px !important;

    .ngx-file-drop__content {
        color: $primary !important;
        flex-direction: column;
    }
}

.btn {
    color: #fff !important;

    &.btn-gradient {
        background-image: linear-gradient(90deg, $primary 0%, $secondary 50%, $primary 100%) !important;
        background-size: 200%;
        transition: all 0.3s ease-in;
        background-color: transparent !important;
        border: 0px;
    
        &:hover {
            background-position: right center;
        }
    }

    &:focus {
        box-shadow: none !important;
    }
}

.mat-slider-thumb, .mat-slider-thumb-label, .mat-slider-track-fill, .mat-ink-bar {
    background-color: $primary !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
    color: $color-dark !important
}

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-form-field-infix {
    width: 240px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $primary !important;
}

.mat-slide-toggle-bar {
    background-color: #ababab80 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ff624d9d !important;
}

#toast-container > div {
    opacity:1;
}

.error-msg {
    color: $primary;
}

.empty {    
    img {
        max-height: 60px;
    }

    span {
        font-weight: bold;
        font-size: 1.6rem;
        margin-left: 10px;
    }
}

.cover-image {
    height: 240px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &.edit-cover:hover {
        cursor: pointer;
        
        img {
            opacity: .5;
        }
    }

    i {
        opacity: 0;
        position: relative;
        left: 20px;
        top: 20px;
        color: $color-dark;
    }

    &:hover i {
        opacity: 1;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;

    div {
        position: absolute;
        top: -60px;
        height: 120px;
        width: 120px;
        border-radius: 100%;
        background-size: cover;
        background-color: #7f7f7f;
    }

    &.avatar-sm {
        height: 40px;

        div {
            top: -40px;
            height: 80px;
            width: 80px;
        }
    }

    .edit-avatar {
        opacity: 0;
        background-color: #ffffff9d;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        i {
            color: $color-light;
        }
    }
}

.user-info {
    display: flex;
    flex-direction: column;

    .user-name {
        font-size: 1.4rem;
        text-align: center;
        font-weight: bold;
    }

    .user-address {
        font-size: 1.2rem;
        text-align: center;
    }
}

.round-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;

    &.img-sm {
        height: 50px;
        width: 50px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.banner-preview {
    height: 200px;
    border-radius: 30px;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@keyframes placeholder-glow {
    50% {
        opacity: .1;
    }
}

@media (min-width: 1400px) {
    .col-xxl-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
}